# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# My stuff
*.xml
home-assistant.log
OZW_Log.txt
securitypics
home-assistant_v2.db
life360.conf
.TemporaryItems
OZW_Log.txt
google_calendars.yaml
._*
notes
